/Day29_password-manager/Passwords/data.json
Day31_flash-cards/data/words_to_learn.csv
Day32_automated-birthday-wisher/credentials.py
Day32/automated-birthday-wisher/credentials.py
Day33/ISS-overhead-notifier/credentials.py
Day35/rain-alert/credentials.py
Day32/Day32_motivational-quote-emailer/credentials.py
*.pyc
Day36/stock-trading-news-alert/credentials.py
Day37/habit-tracker/credentials.py
